body {
    background: url(https://c.wallhere.com/photos/9e/15/fantasy_art-86457.jpg!d) no-repeat;
    /* Keep the inherited background full size. */
    background-attachment: fixed;
    background-size: cover;
    /* background-position: 0% +80%; */
    background-position: center;
    height: 100%;
}

.glass {

    box-shadow: 0 0 1rem black;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

.glass:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px lightgrey;
    filter: blur(10px);
    margin: -20px;
}

.text {
    color: ivory;
}

.carousel-control-next-icon {
    visibility: hidden;
}

.carousel-control-prev-icon {
    visibility: hidden;
}

@media all and (max-width: 768px) {

    .glass:before {
        content: "";
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 200px 200px 200px lightgrey;
        filter: blur(40px);
        margin: -20px;
    }

    .text {
        color: black;
    }

    body {
        background: url(https://c.wallhere.com/photos/9e/15/fantasy_art-86457.jpg!d) no-repeat;
        /* Keep the inherited background full size. */
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        height: 100%;
    }
}